<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=blogs.title %></title>
    <link rel="stylesheet" href="/public/styles.css" />
  </head>
  <body>
    <h1><%=blogs.title %></h1>
    <section>
      <p><%=blogs.content %></p>
      <p>
        <em>
          created at :
          <a
            href="/?created_at=<%=blogs.created_at %>"
            style="text-decoration: none"
            ><%=blogs.created_at %></a
          ></em
        >
      </p>
      <hr />
    </section>
    <form action="/<%=blogs._id%>?_method=DELETE" method="POST">
      <button style="color: red">DELETE</button>
    </form>
    <br />
    <a href="/<%=blogs._id%>/edit" style="text-decoration: none; color: blue">
      <strong>EDIT</strong>
    </a>
    <br />
    <a href="/" style="text-decoration: none; color: green"> &lt-- Go Back</a>
  </body>
</html>
